<h1 class="text-center mt-4">Login</h1>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(scope: :session, url: login_path, class:"shadow p-3 mb-5 bg-body rounded", local: true) do |f| %>
        <div class="row mb-3">
          <%= f.label :email, class:"col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%= f.email_field :email, class:"form-control shadow rounded", placeholder: "Enter email address" %>
          </div>
        </div>

        <div class="row mb-3">
          <%= f.label :password, class:"col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%= f.password_field :password, class:"form-control shadow rounded", placeholder: "Enter password" %>
          </div>
        </div>

        <div class="mb-3 d-flex justify-content-center">
          <%= f.submit "Login", class: "btn btn-outline-primary "%>
        </div>

      <%end%>
    </div>
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <%= link_to '[ Cancel and return to homepage ]', articles_path%> 
  </div>
</div>