<h1 class="text-center mt-4"> Category: <%= @category.name%></h1></h1>

<div class="text-center mt-4">
  <% if logged_in? && current_user.admin? %>
    <%= link_to "Edit your category", edit_category_path(@category), class: "btn btn-outline-info"%>
    <%= link_to "Delete category", category_path(@category), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"%>
  <%end%>

</div>

<h3 class="text-center mt-4">Articles</h3>


<div class="apple_pagination bg-transparent border-0">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/articles'%>


<div class="apple_pagination bg-transparent border-0">
  <%= will_paginate @articles, :container => false %>
</div>